{% extends "base.html" %}
{% block content %}

<form method="post">
  <div class="form-group row">
    <h1 class="text-muted">Edit Post</h1>
    <label for="example-text-input" class="col-2 col-form-label">Edit Post Title:</label>
    <div class="col-10">
      <input class="form-control" id="example-text-input" type="text" name="title" value="{{post.title}}">
    </div>
    <label for="exampleTextarea">Edit Post Content:</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="text">{{post.text}}</textarea>
    <div class="error">{{error}}</div>
    <br>
    <input type="submit" name="submit"  class="btn btn-primary">
  </div>
</form>

{% endblock %}


