{% extends "base.html" %}
{% block content %}
  <div class="album text-muted">
      <div class="container">
        <div class="row">
          <div class="card">

            <div class="card-block"><h4 class="card-title">{{post.title}}</h4><p class="card-text">{{post.text}}</p>
            <p class="card-text">by: {{post.username}} </p>
            {{post.created.strftime("%b %d, %Y")}}
                {%if post.username == username%}
                <form action="{{post.key().id()}}/delete" method="POST">
                    <input type="hidden" name="deletePost" value="delete">
                    <input class="btn btn-outline-success" type="submit" name="delete" value="Delete">

                </form>
                <a class="btn btn-outline-success" href="{{post.key().id()}}/edit">Edit</a>
                {%endif%}
            </div>
          </div>
        </div>
        {%if username %}
         <form method="post" action="/post/{{post.key().id()}}/addComment">

<div class="form-group">
    <label for="exampleTextarea">Add Comment</label>
    <textarea class="form-control" id="exampleTextarea" rows="3" name="addcomment"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {%endif%}

  {% for comment in comments %}
<div class="card" >
    <div class="card-header" style="background: white">
    By: {{comment.username}}
    </div>
    <div class="card-block" >
        <blockquote class="card-blockquote">
            <p>{{comment.comment}}</p>
        </blockquote>
        {%if post.username == username%}
        <form action="{{comment.key().id()}}/deleteComment" method="POST">
            <input type="hidden" name="deleteComment" value="delete">
            <input class="btn btn-outline-success" type="submit" name="delete" value="Delete">
        </form>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Edit
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/post/{{post.key().id()}}/editComment" id="editComment">
            <textarea name="text" class="form-control" >{{comment.comment}}</textarea>
            <input type="hidden" name="commentId" value="{{comment.key().id()}}">

        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary"  name="editComment">Save</button>
      </div>
    </div>
  </div></form>
</div>

        {%endif%}
  </div>
</div>
  {% endfor %}
    </div>


</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="bootstrap/js/jquery.min.js"><\/script>')</script>
<script src="../static/js/bootstrap.min.js"></script>
</html>{% endblock %}