<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="blog">
        <div class="post-title">{{post.title}}</div>
        <pre class="post-text">{{post.text}}</pre>
        <div class="post-date">{{post.created.strftime("%b %d, %Y")}}</div>

        <form action="{{post.key().id()}}/delete" method="POST">
            <input type="hidden" name="deletePost" value="delete">
            <input type="submit" name="delete" value="Delete">
        </form>

    </div>
</body>
</html>